nav {
    position: fixed;
    height: 250px;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: #fefefe;
    padding: 20px 10px;
    border-radius: 30px;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    height: 100%;
}

nav ul li {
    width: 100%;
}

nav ul li {
    text-decoration: none;
    color: #1a2238;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    transition: 0.2s all ease;
}

nav ul li  svg {
    width: 30px;
    height: 30px;
}

nav ul li svg path {
    transition: 0.2s all ease;
}

nav ul li span {
    position: absolute;
    background-color: #fefefe;
    padding: 2px 15px;
    border-radius: 30px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all ease;
}

nav ul li .notification-dot{
    opacity: 1;
}

/* Sidebar version of create post */
nav li#createPost {
	background-color: transparent;
	height: auto;
	width: auto;
	border-radius: 0;
	box-shadow: none;
	display: flex;
	justify-content: left;
	font-size: inherit;
}

nav li#createPost:hover {
	transform: none;
	background-color: transparent;
}


nav ul li.active,
nav ul li:hover {
    color: #1c205f;
}

nav ul li.active span,
nav ul li:hover span {
    opacity: 1;
    visibility: visible;
    margin-left: 50px;
}

nav.active ul li span {
    position: relative;
    opacity: 1;
    visibility: visible;
    margin-left: 0;
}

nav.active ul li:hover span {
    margin-left: 0;
}

nav a{
    text-decoration: none;
}